/bootstrap/compiled.php
/vendor
.env.*.php
.env.php
.DS_Store
Thumbs.db
app/storage/debugbar/

*.sqlite
_ide_helper.php
_ide_helper_models.php
app/config/local/*
app/config/packages/jenssegers/chef/local/config.php
public/components/
