.jstree-leaf {
	min-height: 30px !important;
}

.jstree-clicked {
	background-color: black !important;
}

.jstree-hovered {
	background-color: #7a8288 !important;
}

.run-list, .available_recipes {
	list-style: none outside none;
	padding: 7px;
}

.available_recipe {
	background-color: #7a8288;
	border: 1px solid black;
	font-weight: bold;
	padding: 6px;
	text-align: center;
	width: 142px;
	float: left;
	margin-right: 3px;
	margin-left: 3px;
	word-wrap: break-word;
}

#panel-available-recipes {
	width: 73%;
	float: left;
	overflow: auto;
	height: 500px;
}

#panel-available-run-list {
	width: 26%;
	float: right;
	padding-bottom: 15px;
}
